.login{
    margin-left: 40vw;
    margin-top: 4vw;
    height: 32vw;
}

.pageTitle{
    color: blue;
    margin-left: -4vw;
    margin-bottom: 0.5vw;
}

.label {
    margin-bottom: 0.5vw;
    font-weight: 500;
    margin-top: 0.5vw;
}

.required{
    color: red;
}

.input{
    width: 20.5vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 0.1px solid black;
    padding: 0.5vw;
}

.toggle-password {
    position: absolute;
    margin-left: -1.75vw;
    margin-top: 0.75vw;
    cursor: pointer;
    font-size: 1.2vw;
}

.pwditems{
    display: flex;
}

.errormsg{
    color: red;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0vw;
}

.forgotpwd{
    text-decoration: none;
    font-size: 1vw;
    position: absolute;
    margin-top: 0.5vw;
    left: 53vw;
    cursor: pointer;
    color: blue;
}

.forgotpwd:hover{
    color: red;
}

.buttons{
    display: flex;
    margin-top: 2vw;
}

.loginBtn {
    width: 6vw;
    height: 3vw;
    padding: 0.5vw;
    background: grey;
    border: none;
    border-radius: 0.5vw;
    color: white;
    margin-right: 9.5vw;
    cursor: context-menu;
    pointer-events: none;
}

.loginBtn:hover{
    background: blue;
}

.validlogin{
    cursor: pointer;
    pointer-events:auto;
    background: black;
}