.forgotpwd{
    height: 33.2vw;
    margin-left: 33vw;
    margin-top: 3vw;
}

.title{
    color: blue;
}

.pwdform{
    margin-left: 1vw;
    margin-top: 2vw;
}

.label {
    margin-bottom: 0.5vw;
    font-weight: 500;
    margin-top: 0.5vw;
}

.required{
    color: red;
}

.errormsg{
    color: red;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0vw;
}

.input{
    width: 18.5vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 0.1px solid black;
    padding: 0.5vw;
}

.passicon{
    cursor: pointer;
    position: absolute;
    margin-left: -1.5vw;
    margin-top: 0.6vw;
}

.confpassicon{
    cursor: pointer;
    position: absolute;
    margin-left: -1.5vw;
    margin-top: 0.7vw;
}

.submit {
    width: 5vw;
    height: 3vw;
    padding: 0.5vw;
    background: blueviolet;
    border: none;
    border-radius: 0.5vw;
    color: white;
    margin-top: 1vw
}

.submit:disabled{
    background: gray;
}